<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>

<body>

    <!--/*@thymesVar id="passwordDTO" type="com.teapot.mrw.billing_ne.dto.PasswordDTO"*/-->
    <form th:method="PATCH" th:action="@{/lk/change_password}" th:object="${passwordDTO}">

        <label for="password">Введите пароль: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        <br/>

        <label for="passwordRepetition">Повторите пароль: </label>
        <input type="text" th:field="*{passwordRepetition}" id="passwordRepetition"/>
        <div style="color:red" th:if="${#fields.hasErrors('passwordRepetition')}" th:errors="*{passwordRepetition}">PasswordRepetition Error</div>
        <br/>

        <input type="submit" value="Изменить пароль!"/>
    </form>
    <hr/>

    <form th:method="GET" th:action="@{/lk/}">
        <input type="submit" value="Вернуться в личный кабинет"/>
    </form>

    <form th:href="@{#}" th:onclick="history.go(-1)">
        <input type="submit" value="Вернуться на предыдущую страницу"/>
    </form>

</body>

</html>